@font-face {
  font-family: getSchwifty;
  src: url(./assets/getSchwifty.ttf);
}

body {
  background-image: url("./assets/GalaxyWallpaper2.jpg");
  max-width: 100%;
  padding: 0.2rem;
}

* {
  margin: 0;
  padding: 0;
}

.mobile-view {
  display: none;
}

h5 {
  font-family: getSchwifty;
  color: black;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 10rem;
  height: 8rem;
  justify-content: center;
  align-items: center;
}

#background-image {
  height: 8.75rem;
  margin-bottom: 4rem;
}

.drop-down {
  align-items: center;
  height: 8vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#location {
  font-family: getSchwifty;
  height: 3.125rem;
}

label[for="location"] {
  color: white;
  font-family: getSchwifty;
  font-size: 3.125rem;
}

button {
  background-color: #b1eaf9;
  font-family: getSchwifty;
  color: #272c3a;
  height: 3.25rem;
  font-size: 1.25rem;
}

option {
  font-family: getSchwifty;
}

p {
  font-family: getSchwifty;
  font-size: 1.25rem;
  color: black;
}

h2 {
  font-family: getSchwifty;
  color: white;
  font-size: 2.5rem;
  margin-top: 3.5rem;
  padding-top: 2rem;
  position: relative;
  text-align: center;
}

h4 {
  font-family: getSchwifty;
  color: white;
  margin-bottom: -3.125rem;
  padding-bottom: 5rem;
  text-align: center;
  font-size: 1.875rem;
  position: relative;
  margin-top: 4rem;
}

.charName {
  font-family: getSchwifty;
  font-size: 1.875rem;
  color: white;
  padding-left: 20.3125rem;
  position: relative;
  z-index: 100;
  margin-top: -15.625px;
}

.logo {
  top: 0;
  right: 0;
  position: absolute;
  padding-top: 1.25rem;
  padding-right: 1.875rem;
}

.card {
  margin-bottom: 3.125rem;
}

/* for mobile */
@media screen and (max-width: 1025px) {
  body {
    padding: 0;
  }

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .rick-and-morty-logo {
    max-width: 100vw;
    margin-bottom: 2.5rem;
  }

  .intstructions {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
  }

  .drop-down-container {
    display: flex;
    justify-content: center;
  }

  #location {
    width: 66vw;
    margin-bottom: 2rem;
  }

  #results h2,
  #results h4 {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0;
  }

  #results .card {
    max-width: 90vw !important;
  }
}
