@font-face {
  font-family: getSchwifty;
  src: url(./assets/getSchwifty.ttf);
}

body {
  background-image: url("./assets/GalaxyWallpaper2.jpg");
  overflow-x: hidden;
  max-width: 100%;
  padding: 5px;
}

h5 {
  font-family: getSchwifty;
  color: black;
  font-size: 30px;
}

.container {
  margin-top: 100px;
  padding: 80px;
}

#background-image {
  height: 140px;
  margin-bottom: 4em;
}

.drop-down {
  margin-top: -85px;
  position: relative;
}

#location {
  font-family: getSchwifty;
  height: 50px;
  position: absolute;
  right: 30%;
  left: 30%;
}

label[for="location"] {
  color: white;
  font-family: getSchwifty;
  font-size: 50px;
}

button {
  background-color: #b1eaf9;
  font-family: getSchwifty;
  color: #272c3a;
  height: 50px;
  font-size: 18px;
  left: 68%;
  position: relative;
}

option {
  font-family: getSchwifty;
}

p {
  font-family: getSchwifty;
  font-size: 20px;
  color: black;
}

h2 {
  font-family: getSchwifty;
  color: white;
  font-size: 45px;
  margin-top: 50px;
  margin-bottom: 75px;
  position: relative;
  text-align: center;
}

h4 {
  font-family: getSchwifty;
  color: white;
  margin-bottom: -50px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 35px;
  position: relative;
  margin-top: 100px;
}

.charName {
  font-family: getSchwifty;
  font-size: 30px;
  color: white;
  padding-left: 325px;
  position: relative;
  z-index: 100;
  margin-top: -250px;
}

.logo {
  top: 0;
  right: 0;
  position: absolute;
  padding-top: 20px;
  padding-right: 30px;
}

.card {
  margin-bottom: 50px;
}

/* for mobile */
@media screen and (max-width: 545px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 25vh;
  }

  .container #background-image {
    margin-bottom: 24px;
  }

  .drop-down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  label[for="location"] {
    margin-bottom: 32px;
  }

  #location {
    width: 100%;
  }

  #submit {
    font-size: 16px;
  }

  label[for="location"],
  #results h2,
  #results h4 {
    text-shadow: 0 1px 1px black, 0 2px 2px black, 0 0 8px white;
  }
}
